.chat-main
  .Right-header
    .Right-header__group
      .Right-header__name
        = @group.name
      %ul.Right-header__member-list
        Member：
        - @group.users.each do |user|
          %li.Right-header__member
            = user.name
    = link_to "Edit", edit_group_path(@group), class: "Right-header__btn"
  .message-holder
    = render @messages
  .footer
    = form_with model: [@group, @message], html: {class: "new-message"}, local: true do |f|
      .Input-box
        = f.text_field :content, placeholder: "type a message", class: "Input-box__text"
        = f.label :image, class: "Input-box__image" do
          = icon('far', 'image')
          = f.file_field :image, class: "Input-box__image-file"
      = f.submit "Send", class: "submit-btn"
