.side-bar
  .Left-header
    .Left-header__items
      .Left-header__user-name
        = current_user.name
      %ul.Left-header__icon-list
        %li.Left-header__icon
          = link_to new_group_path, class: "Left-header__btn" do
            = icon('fas', 'edit')
        %li.Left-header__icon
          = link_to edit_user_path(current_user), class: "Left-header__btn" do
            = icon('fas', 'cog')
  .Group-list
    - current_user.groups.each do |group|
      .Group-list__items
        = link_to group_messages_path(group) do
          .Group-list__name
            = group.name
          .Group-list__comment
            メッセージはまだありません

