.side-bar
  .Left-header
    .Left-header__items
      .Left-header__user-name
        = current_user.name
      %ul.Left-header__icon-list
        %li.Left-header__icon
          = link_to "#", class: "Left-header__btn" do
            = icon('fas', 'edit')
        %li.Left-header__icon
          = link_to edit_user_path(current_user), class: "Left-header__btn" do
            = icon('fas', 'cog')
  .Group-list
    .Group-list__items
      .Group-list__name
        techcamp
      .Group-list__comment
        まだメッセージはありません
    .Group-list__items
      .Group-list__name
        あいうえお
      .Group-list__comment
        まだメッセージはありません
    .Group-list__items
      .Group-list__name
        さしすせそ
      .Group-list__comment
        まだメッセージはありません

